<div class="container marketing" style="padding-top: 150px;">

    <hr class="featurette-divider">
    <!-- first feature -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ homecontent[3].heading }}<br><span class="text-muted">{{ homecontent[3].subheading }}</span></h2>
        <p class="lead">{{ homecontent[3].description }}</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" [src]="homecontent[3].imageUrl" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- second feature -->
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">{{ homecontent[4].heading }}<br><span class="text-muted">{{ homecontent[4].subheading }}</span></h2>
        <p class="lead">{{ homecontent[4].description }}</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" [src]="homecontent[4].imageUrl" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- third feature -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ homecontent[5].heading }}<br><span class="text-muted">{{ homecontent[5].subheading }}</span></h2>
        <p class="lead">{{ homecontent[5].description }}</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" [src]="homecontent[5].imageUrl" alt="Generic placeholder image">
      </div>
    </div>


  </div>