<div class="row">
    <section class="jumbotron text-center">
        <div class="container">
          <h1>Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a routerLink="/collection" class="btn btn-primary my-2">View Collection</a>
            
          </p>
        </div>
      </section>
    <div class="col-md-4" *ngFor="let product of productList">
        <app-product-item [productItem]="product"></app-product-item>
    </div>
</div>