/* You can add global styles to this file, and also import other style files */

.cart-item{
    font-size: small;
}

.card-filter{
    font-size: small;
}

.card, .form-control, .btn {
    border-radius: 0px;
}

.list-group{
    font-size: small;
}

.product-btn{
    font-size: small;
}