 <!-- Features Section -->
 <div class="row" id="featuresection">
    <div class="col">
      
      <div class="lefthalf" style="width: 50%; float:left">
        <img class="img-fluid rounded" [src]="collections[1].imageUrl" alt="">
      </div>
     
      <div class="righthalf" style="width: 50%; float:right">

          <img class="img-fluid rounded" [src]="collections[2].imageUrl" alt="">
      </div>
    </div>
  </div>
  <!-- /.row -->

  

  <!-- Features Section -->
  <div class="row" id="featuresection">
    <div class="col">
      
      <div class="lefthalf" style="width: 50%; float:left">
        <img class="img-fluid rounded" [src]="collections[3].imageUrl" alt="">
      </div>
     
      <div class="righthalf" style="width: 50%; float:right">

          <img class="img-fluid rounded" [src]="collections[4].imageUrl" alt="">
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Features Section -->
      <div class="row" id="featuresection">
        <div class="col">
          
          <div class="lefthalf" style="width: 50%; float:left">
            <img class="img-fluid rounded" [src]="collections[5].imageUrl" alt="">
          </div>
         
          <div class="righthalf" style="width: 50%; float:right">

              <img class="img-fluid rounded" [src]="collections[6].imageUrl" alt="">
          </div>
        </div>
      </div>
  <!-- /.row -->