<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <br><h1>Register</h1>
    </div>

    <!-- Login Form -->
    <form #userForm= "ngForm" (ngSubmit)="onSubmit()" novalidate>
      <input type="text" id="name" class="fadeIn first" name="name" placeholder="name" [(ngModel)]="loginUser.name">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="email" [(ngModel)]="loginUser.email">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="loginUser.password">
      <input type="text" id="address" class="fadeIn fourth" name="address" placeholder="address" [(ngModel)]="loginUser.address">
      <input type="submit" class="fadeIn fifth" value="Sign Up">
    </form>

  </div>
</div>